<a href="https://colab.research.google.com/github/vibha-v/python3/blob/master/python_dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
def mystery(l,v):
  if len(l) == 0:
    return (v)
  else:
    return (mystery(l[:-1],l[-1]+v))
a=mystery([22,14,19,65,82,55],1)
print(a)

258

In [4]:
triples = [ (x,y,z) for x in range(2,4) for y in range(2,5) for z in range(5,7) if 2*x*y > 3*z ]
print(triples)

[(2, 4, 5), (3, 3, 5), (3, 4, 5), (3, 4, 6)]

In [12]:
runs = {"Test":{"Rahul":[90,14,35],"Kohli":[3,103,73,42],"Pujara":[53,15,133,8]},"ODI":{"Sharma":[37,99],"Kohli":[63,47]}}
#runs["ODI"]["Rahul"].append([74])
#runs["ODI"]["Rahul"].extend([74])
#runs["ODI"]["Rahul"][0]=74
runs["ODI"]["Rahul"]=[74]
print(runs)

{'Test': {'Rahul': [90, 14, 35], 'Kohli': [3, 103, 73, 42], 'Pujara': [53, 15, 133, 8]}, 'ODI': {'Sharma': [37, 99], 'Kohli': [63, 47], 'Rahul': [74]}}

In [0]:
actor = {}
actor["Star Wars"] = ["Rey","Ridley"]
actor["Star Wars, Rey"] = "Ridley"
#actor[["Star Wars", "Rey"]] = "Ridley"
actor[("Star Wars", "Rey")] = "Ridley"